.vscode/**
.vscode-test/**
.claude/**
src/**
out/test/**
.gitignore
.git/**
tsconfig.json
**/*.map
.DS_Store
package-lock.json
settings.md
features.md
functions.md
*.vsix
server/**
node_modules/.bin/**
node_modules/monaco-editor/esm/**
node_modules/monaco-editor/dev/**
node_modules/monaco-editor/dev-package.json
node_modules/monaco-editor/min-maps/**
